<h2>product page</h2>

<div><b>Brand:</b> <span><%= phone.brand %></span></div>
<div><b>Model:</b> <span><%= phone.model %></span></div>
<div><b>Price:</b> <span><%= phone.price %> BGN</span></div>
<div><b>Quantity:</b> <span><%= phone.qty %></span></div>

<div>
    <a href="/phones">back to home</a>
</div>